# Игнорируем временные файлы
*.tmp
*.log
*.ignore
*.select

# Скрываем настройки среды разработки
.vscode/
.venv/

# Исключение бинарников и объектных файлов
*.pyc
__pycache__

# Исключаем сборочные артефакты
build/
dist/

# Исключаем рабочии директории Hexlet
hexlet_code.eg-info/ 