{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <h1 class="my-4">{% trans "Статусы" %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'statuses:statuses_create'%}">{% trans "Создать статус" %}</a>

    <table class="table table-striped table-hover align-middle">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Имя" %}</th>
                <th>{% trans "Дата создания" %}</th>
                <th>{% trans "Действия" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.created_at|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'statuses:statuses_update' status.id%}" class="btn btn-sm btn-outline-primary">
                        {% trans "Изменить" %}
                    </a>
                    <form action="{% url 'statuses:statuses_delete' status.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center text-muted">
                    {% trans "Нет статуса" %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}