{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<form action="{% url 'statuses:statuses_update' user.id %}" method="post">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h1 class="my-4">{% trans "Обновить статус" %}</h1>
            {% csrf_token %}
            {% bootstrap_form form %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Обновить' context 'verb' %}">
            <a href="{% url 'statuses:statuses_list' %}" class="btn btn-secondary">{% trans 'Отмена' %}</a>
        </div>
    </div>
</form>
{% endblock %}
