{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <h1 class="my-4">{% trans "Удаление пользователя" %}</h1>
    <p>{% trans "Вы уверены, что хотите удалить пользователя" %} <strong>{{ object.name }}</strong>?</p>
    
    <form action="{% url 'users:users_delete' user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
    </form>
</div>
{% endblock %}
