{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <h1 class="my-4">{% trans "Подтвердить удаление" %}</h1>
    <p>{% trans "Вы уверены, что хотите удалить задачу?" %} <strong>{{ user.get_full_name }}</strong>?</p>
    
    <form action="{% url 'tasks:tasks_delete' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Удалить" %}</button>
        <a href="{% url 'tasks:tasks_list' %}" class="btn btn-secondary">{% trans "Отмена" %}</a>
    </form>
</div>
{% endblock %}